@keyframes marqueeScroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marqueeScroll 20s linear infinite;
  }
  